{% macro resource_constraints(memory_request, cpu_request, memory_limit, cpu_limit, caller=None) %}
requests+: {
{% if memory_request %}
    memory: {{ memory_request | to_json }},
{% endif %}
{% if cpu_request %}
    cpu: {{ cpu_request | to_json }},
{% endif %}
},
limits+: {
{% if memory_limit %}
    memory: {{ memory_limit | to_json }},
{% endif %}
{% if cpu_limit %}
    cpu: {{ cpu_limit | to_json }},
{% endif %}
},
{% endmacro %}

{% macro set_common_labels(monitoring_common_labels) %}
{% if monitoring_common_labels %}
    commonLabels+: {
{% for label_key, label_value in monitoring_common_labels.items() %}
      {{ label_key | to_json }}: {{ label_value | to_json }},
{% endfor %}
    },
{% endif %}
{% endmacro %}
