{{ _auto_generated_preamble }}

frontend k8s_front
  bind {{ networking_fixed_ip }}:{{ k8s_apiserver_frontend_port }}
  {% if dualstack_support %}
  bind {{ networking_fixed_ip_v6 }}:{{ k8s_apiserver_frontend_port }} transparent
  acl ipv4_request src 0.0.0.0/0
  use_backend k8s_back6 if !ipv4_request
  {% endif %}
  mode tcp
  log global
  option tcplog
  timeout client 600s
  default_backend k8s_back
  maxconn {{ haproxy_frontend_k8s_api_maxconn }}

{% macro backend_common_options() -%}
  mode tcp
  http-check expect status 403
  option redispatch
  log global
  balance roundrobin
  timeout connect 10s
  timeout server 600s
{%- endmacro %}

backend k8s_back
  {{ backend_common_options() }}
  option httpchk GET / "HTTP/1.1\r\nHost: 192.168.0.14\r\n\r\n"

  {% for host in groups['masters'] %}
  server {{ host }} {{ hostvars[host]['local_ipv4_address'] }}:6443 check check-ssl verify none
  {% endfor %}

{% if dualstack_support %}
backend k8s_back6
  {{ backend_common_options() }}
  option httpchk GET / "HTTP/1.1\r\nHost: fe80::14\r\n\r\n"

  {% for host in groups['masters'] %}
  server {{ host }} {{ hostvars[host]['local_ipv6_address'] }}:6443 check check-ssl verify none
  {% endfor %}
{% endif %}
