version = 2
root = "/var/lib/containerd"
state = "/run/containerd"
oom_score = 0

# grpc configuration
[grpc]
  address = "/run/containerd/containerd.sock"
  # socket uid
  uid = 0
  # socket gid
  gid = 0

# metrics configuration
[metrics]
  # tcp address!
  address = "127.0.0.1:1234"

{% if k8s_is_gpu_cluster and node_has_gpu %}
[plugins."io.containerd.grpc.v1.cri".containerd]
  default_runtime_name = "nvidia"
{% endif %}
# container registry override configuration
[plugins."io.containerd.grpc.v1.cri".registry]
  config_path = "/etc/containerd/certs.d"

# configure the runc runtime
[plugins."io.containerd.grpc.v1.cri".containerd.runtimes]

  [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
    runtime_type = "io.containerd.runc.v2"

  [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc.options]
    SystemdCgroup = true

{% if k8s_is_gpu_cluster and node_has_gpu %}
  [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.nvidia]
    privileged_without_host_devices = false
    runtime_engine = ""
    runtime_root = ""
    runtime_type = "io.containerd.runc.v2"

    [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.nvidia.options]
      BinaryName = "/usr/bin/nvidia-container-runtime"
      SystemdCgroup = true
{% endif %}
