apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: flux-system
  namespace: "{{ k8s_fluxcd_namespace | default("k8s-svc-flux-system") }}"
  labels:
    app.kubernetes.io/part-of: flux
    app.kubernetes.io/component: monitoring
    release: prometheus-stack # That's the default podmonitor selector of our prometheus
spec:
  namespaceSelector:
    matchNames:
      - "{{ k8s_fluxcd_namespace | default("k8s-svc-flux-system") }}"
  selector:
    matchExpressions:
      - key: app
        operator: In
        values:
          - helm-controller
          - source-controller
          - kustomize-controller
          - notification-controller
          - image-automation-controller
          - image-reflector-controller
  podMetricsEndpoints:
    - port: http-prom
      relabelings:
        # https://github.com/prometheus-operator/prometheus-operator/issues/4816
        - sourceLabels: [__meta_kubernetes_pod_phase]
          action: keep
          regex: Running
