---
apiVersion: projectcalico.org/v3
kind: BGPConfiguration
metadata:
  name: default
spec:
  nodeToNodeMeshEnabled: false
  asNumber: {{ k8s_network_bgp_worker_as | to_json }}
---
kind: BGPPeer
apiVersion: projectcalico.org/v3
metadata:
  name: cp-as-route-reflectors
spec:
  nodeSelector: all()
  peerSelector: has(node-role.kubernetes.io/control-plane)
{# BGP config for calico is not necessary if gateway (frontend) nodes are identical to master nodes #}
{% if groups['masters'] | symmetric_difference(groups['frontend']) | length != 0 %}
---
apiVersion: projectcalico.org/v3
kind: BGPPeer
metadata:
  name: "lb-cp-gateway"
spec:
  peerIP: {{ networking_fixed_ip | ipaddr | to_json }}
  asNumber: {{ k8s_network_bgp_gateway_as | to_json }}
  keepOriginalNextHop: true

{% if dualstack_support %}
---
apiVersion: projectcalico.org/v3
kind: BGPPeer
metadata:
  name: "lb-cp-gateway-v6"
spec:
  peerIP: {{ networking_fixed_ip_v6 | ipaddr | to_json }}
  asNumber: {{ k8s_network_bgp_gateway_as | to_json }}
  keepOriginalNextHop: true
{% endif %}
{% endif %}
...
