{{ _auto_generated_preamble }}

[Interface]
Address = {{ wg_ip_gw }} {%- if dualstack_support %}, {{ wg_ipv6_gw }}{% endif %}

ListenPort = {{ wg_port }}
PrivateKey = {{ wg_gw_priv_key }}

{% for peer in wg_peers %}
# {{ peer["ident"] }}
[Peer]
PublicKey = {{ peer["pub_key"] }}
AllowedIps = {{ peer["ip"] }} {%- if dualstack_support %}, {{ peer["ipv6"] }}{% endif %}

{% endfor %}
